@charset "UTF-8";

* {
	font-family: sans-serif;
	/*height: 100%;*/
}


p {
	text-align: justify;
}

body {
	background-image: linear-gradient(to right, #FAF330, #03FF3E, #E51DF0)
}

main {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 5px 5px 15px rgba(136, 109, 93, 0.616);
	width: 800px;
	padding: 10px;
	margin:  auto;
}